.ui-main-menu {
  height: 100%;
  text-align: center;
  padding-top: 40px;
  font-size: 33px;
  font-family: "Times new roman";
}

.ui-main-menu a {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}