.viewport {
  perspective: 700px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: black;
}

.world {
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(410deg) rotateZ(0deg);
}

.model {
  top: -110px;
  position: absolute;

}

.model > * {
  position: absolute;
  display: inline-block;
}

.model__head {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  left: 25px;
  border-radius: 50% 50% 25px 25px;
  background: black;
  z-index: 1;
}

.model__body {
  width: 120px;
  height: 160px;

  border: 1px solid white;
  border-radius: 10% 10% 0 0;

  top: 60px;
}

.model__hand {

}

.model__hand > * {
  position: absolute;
  border: 1px solid white;
}


.model__hand__top {
  width: 65px;
  transform: rotateZ(-55deg);
  left: -52px;
  top: 105px;
}

.model__hand_bottom {
  width: 65px;
  transform: rotateZ(-137deg);
  left: -47px;
  top: 155px;
}

.model__leg {
  border: 1px solid white;

  width: 80px;

  transform: rotateZ(90deg);

  top: 262px;


}

.model__leg.-right {
  right: -132px;
}

.model__leg.-left {
  left: -10px;
}

/* */

.model-box-test {
  position: absolute;
  left: 50%;
  right: 50%;
}

.model-box-test > * {
  position: absolute;
}

.model-box-test__plane1,
.model-box-test__plane2 {
  border: 1px solid white;
}

.model-box-test__plane1 {
  width: 100px;
  height: 100px;

  background: red;

  transform: rotateZ(90deg);
}

.model-box-test__plane2 {
  width: 200px;
  height: 200px;

  background: green;
}

/* Sample model */

.model-cl {

}

.model-sample {
  transform: translateY(-150px);
}

.planes-container {
  transform-style: preserve-3d;
}

.plane {
  border: 2px solid white;
  position: absolute;

  box-sizing: border-box;
  background: black;
}

.model-sample__head > .plane {
  width: 50px;
  height: 50px;
}

.model-sample__head .plane-front {
  transform: rotateY(0deg) translateZ(25px);
}

.model-sample__head .plane-back {
  transform: rotateX( 180deg ) translateZ(25px);
}

.model-sample__head .plane-top {
  transform: rotateX(  90deg ) translateZ(25px);
}

.model-sample__head .plane-bottom {
  transform: rotateX( -90deg ) translateZ(25px);
}

.model-sample__head .plane-right {
  transform: rotateY(  90deg ) translateZ(25px);
}

.model-sample__head .plane-left {
  transform: rotateY( -90deg ) translateZ(25px);
}

.model-sample__body {
  transform: translateY(50px);
}

.model-sample__body > .plane {
}

.model-sample__body .-big {
  width: 150px;
  height: 150px;
}

.model-sample__body .-small {
  width: 150px;
  height: 50px;
}

.model-sample__body .-side {
  height: 150px;
  width: 50px;
}

.model-sample__body .plane-front {
  transform: rotateY(0deg) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-back {
  transform: rotateX( 180deg ) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-top {
  transform: rotateX(  90deg ) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-bottom {
  transform: rotateX( -90deg ) translateZ(125px) translateX(-50px);
}

.model-sample__body .plane-right {
  transform: rotateY(  90deg ) translateZ(75px);
}

.model-sample__body .plane-left {
  transform: rotateY( -90deg ) translateZ(75px);
}

/* Hand */

.model-sample__hand .plane.-big {
  width: 30px;
  height: 175px;
}

.model-sample__hand .plane.-small {
  width: 30px;
  height: 30px;
}

.model-sample__hand .plane-front {
  transform: rotateY(0deg) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-back {
  transform: rotateX( 180deg ) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-top {
  transform: rotateX(  90deg ) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-bottom {
  transform: rotateX( -90deg ) translateZ(160px) translateX(0px);
}

.model-sample__hand .plane-right {
  transform: rotateY(  90deg ) translateZ(15px);
}

.model-sample__hand .plane-left {
  transform: rotateY( -90deg ) translateZ(15px);
}

.model-sample__hand.-left {
  transform: translateX(-80px) translateY(60px);
}

.model-sample__hand.-right {
  transform: translateX(100px) translateY(60px);
}

/* Leg */

.model-sample__leg .plane.-big {
  width: 50px;
  height: 175px;
}

.model-sample__leg .plane.-small {
  width: 50px;
  height: 50px;
}

.model-sample__leg .plane-front {
  transform: rotateY(0deg) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-back {
  transform: rotateX( 180deg ) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-top {
  transform: rotateX(  90deg ) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-bottom {
  transform: rotateX( -90deg ) translateZ(150px) translateX(0px);
}

.model-sample__leg .plane-right {
  transform: rotateY(  90deg ) translateZ(25px);
}

.model-sample__leg .plane-left {
  transform: rotateY( -90deg ) translateZ(25px);
}

.model-sample__leg.-left {
  transform: translateX(-35px) translateY(200px);
}

.model-sample__leg.-right {
  transform: translateX(35px) translateY(200px);
}



