.viewport {
  perspective: 700px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: black;
}

.world {
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.model {
  top: -110px;
  position: absolute;

}

.model > * {
  position: absolute;
  display: inline-block;
}

.model__head {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  left: 25px;
  border-radius: 50% 50% 25px 25px;
  background: black;
  z-index: 1;
}

.model__body {
  width: 120px;
  height: 160px;

  border: 1px solid white;
  border-radius: 10% 10% 0 0;

  top: 60px;
}

.model__hand {
}

.model__hand > * {
  position: absolute;
  border: 1px solid white;
}


.model__hand__top {
  width: 65px;
  transform: rotateZ(-55deg);
  left: -52px;
  top: 105px;
}

.model__hand_bottom {
  width: 65px;
  transform: rotateZ(-137deg);
  left: -47px;
  top: 155px;
}

.model__leg {
  border: 1px solid white;

  width: 80px;

  transform: rotateZ(90deg);

  top: 262px;


}

.model__leg.-right {
  right: -132px;
}

.model__leg.-left {
  left: -10px;
}

/* */

.model-box-test {
  position: absolute;
  left: 50%;
  right: 50%;
}

.model-box-test > * {
  position: absolute;
}

.model-box-test__plane1,
.model-box-test__plane2 {
  border: 1px solid white;
}

.model-box-test__plane1 {
  width: 100px;
  height: 100px;

  background: red;

  transform: rotateZ(90deg);
}

.model-box-test__plane2 {
  width: 200px;
  height: 200px;

  background: green;
}

/* Sample model */

.model-cl {

}

.model-cl__inner {
  transform-style: preserve-3d;
}

.model-sample {
  transform: translateY(-150px);
}

.planes-container {
  transform-style: preserve-3d;
}

.plane {
  border: 2px solid white;
  position: absolute;

  box-sizing: border-box;
  background: black;
}

.model-sample__head > .plane {
  width: 50px;
  height: 50px;
}

.model-sample__head .plane-front {
  transform: rotateY(0deg) translateZ(25px);
}

.model-sample__head .plane-back {
  transform: rotateX( 180deg ) translateZ(25px);
}

.model-sample__head .plane-top {
  transform: rotateX(  90deg ) translateZ(25px);
}

.model-sample__head .plane-bottom {
  transform: rotateX( -90deg ) translateZ(25px);
}

.model-sample__head .plane-right {
  transform: rotateY(  90deg ) translateZ(25px);
}

.model-sample__head .plane-left {
  transform: rotateY( -90deg ) translateZ(25px);
}

.model-sample__body {
  transform: translateY(50px);
}

.model-sample__body > .plane {
}

.model-sample__body .-big {
  width: 150px;
  height: 150px;
}

.model-sample__body .-small {
  width: 150px;
  height: 50px;
}

.model-sample__body .-side {
  height: 150px;
  width: 50px;
}

.model-sample__body .plane-front {
  transform: rotateY(0deg) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-back {
  transform: rotateX( 180deg ) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-top {
  transform: rotateX(  90deg ) translateZ(25px) translateX(-50px);
}

.model-sample__body .plane-bottom {
  transform: rotateX( -90deg ) translateZ(125px) translateX(-50px);
}

.model-sample__body .plane-right {
  transform: rotateY(  90deg ) translateZ(75px);
}

.model-sample__body .plane-left {
  transform: rotateY( -90deg ) translateZ(75px);
}

/* Hand */

.model-sample__hand {
  transform-origin: 20px 20px 0;
}

.model-sample__hand .plane.-big {
  width: 30px;
  height: 175px;
}

.model-sample__hand .plane.-small {
  width: 30px;
  height: 30px;
}

.model-sample__hand .plane-front {
  transform: rotateY(0deg) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-back {
  transform: rotateX( 180deg ) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-top {
  transform: rotateX(  90deg ) translateZ(15px) translateX(0px);
}

.model-sample__hand .plane-bottom {
  transform: rotateX( -90deg ) translateZ(160px) translateX(0px);
}

.model-sample__hand .plane-right {
  transform: rotateY(  90deg ) translateZ(15px);
}

.model-sample__hand .plane-left {
  transform: rotateY( -90deg ) translateZ(15px);
}

.model-sample__hand.-left {
  transform: translateX(100px) translateY(60px);
}

.model-sample__hand.-right {
  transform: translateX(-80px) translateY(60px);
}

/* Leg */

.model-sample__leg {
  transform-origin: 25px 0px 0px;
}

.model-sample__leg .plane.-big {
  width: 50px;
  height: 175px;
}

.model-sample__leg .plane.-small {
  width: 50px;
  height: 50px;
}

.model-sample__leg .plane-front {
  transform: rotateY(0deg) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-back {
  transform: rotateX( 180deg ) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-top {
  transform: rotateX(  90deg ) translateZ(25px) translateX(0px);
}

.model-sample__leg .plane-bottom {
  transform: rotateX( -90deg ) translateZ(150px) translateX(0px);
}

.model-sample__leg .plane-right {
  transform: rotateY(  90deg ) translateZ(25px);
}

.model-sample__leg .plane-left {
  transform: rotateY( -90deg ) translateZ(25px);
}

.model-sample__leg.-left {
  transform: translateX(35px) translateY(200px);
}

.model-sample__leg.-right {
  transform: translateX(-35px) translateY(200px);
}

/* Hit animation */

@-webkit-keyframes model-sample-animation-hit-right-hand {
  0% {
    transform: translateX(-80px) translateY(60px);
  }

  30% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg);
  }

  37% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg);
  }

  40% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg) rotateX(-10deg);
  }

  55% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg) rotateX(140deg);
  }

  65% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg) rotateX(130deg);
  }

  85% {
    transform: translateX(-80px) translateY(60px) rotateZ(100deg);
  }

  100% {
    transform: translateX(-80px) translateY(60px);
  }
}

.model-sample.-animate-hit .model-sample__hand.-right {
  animation: model-sample-animation-hit-right-hand 2s;
}

/* Struck animation */

@-webkit-keyframes model-sample-animation-struck {
  0% {
    transform: translateY(0px);
  }

  10%, 30%, 50%, 70% {
    transform: translateY(-10px) rotateZ(-5deg);
  }

  20%, 40%, 60%, 80% {
    transform: translateY(-10px) rotateZ(5deg);
  }

  90% {
    transform: translateY(-10px) rotateZ(0deg);
  }

  100% {
    transform: translateY(0px);
  }
}

.model-sample.-animate-struck .model-cl__inner {
  animation: model-sample-animation-struck 1.1s;
}

/* Died animation */

@-webkit-keyframes model-sample-animation-death {
  0% {
    transform: rotateX(0deg);
  }

  30% {
    transform: rotateX(-7deg) rotateY(3deg);
  }

  38% {
    transform: rotateX(0deg) translateY(-10px) translateZ(0) rotateY(-5deg);
  }

  90% {
    transform: rotateX(90deg) translateY(0px) translateZ(-25px) rotateY(0);
  }
}

@-webkit-keyframes model-sample-animation-death-leg {
  0% {
    transform: translateX(-35px) translateY(200px) rotateX(0deg);
  }

  35% {
    transform: translateX(-35px) translateY(200px) rotateX(0deg);
  }

  49% {
    transform: translateX(-35px) translateY(200px) rotateX(125deg);
  }

  85% {
    transform: translateX(-35px) translateY(200px) rotateX(0deg);
  }
}



.model-sample.-animate-death .model-cl__inner {
  transform-origin: 0px 350px 0px;
  animation: model-sample-animation-death 2s;
}

.model-sample.-animate-death .model-sample__leg.-right {
  animation: model-sample-animation-death-leg 2s infinite;
}



