body {
  padding: 0;
  margin: 0;
}

#level-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-user-select: none;

  position: relative;
}

.grid {
  position: relative;

  display: inline-block;
}

.grid__row {
  white-space: nowrap;

  display: inline-block;
}

.grid__col {
  width: 30px;
  height: 30px;

  border: 1px solid lightgray;

  display: inline-block;

  margin: 1px;
}

.level-cell {
  border: 1px solid blue;
  box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.2) inset;
}

/* UI */

.ui {
  position: absolute;

  z-index: 1;
}

.ui.-left {
  left: 0;
}

.ui.-right {
  right: 0;
}

.ui.-top {
  top: 0;
}

.ui.-bottom {
  bottom: 0;
}

.ui__save {
  position: relative;
  top: 30px;
  right: 36px;
}

.ui__faces {
  position: relative;
  right: 36px;
  bottom: 30px;


}

/* Helpers */

.-rounded {
  border-radius: 8px;
}

.-box {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);

  color: white;
}

.-centered {
  text-align: center;
}


