body {
  padding: 0;
  margin: 0;
}

.level-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-user-select: none;

  position: relative;
}

.grid {
  position: relative;

  display: inline-block;
}

.grid__block {
  position: absolute;

  display: inline-block;
}

.grid__row {
  white-space: nowrap;

  display: inline-block;
}

.grid__col {
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0,0,0,0.075);

  display: inline-block;

  background: rgba(0,0,0,0.7);
}

.grid__col.-selected {
  box-shadow: 0px 0px 10px 0px red;
  background: white;
}

/* Level cell */
.level-cell {
  /*border: 2px solid lightgreen;*/
  /*box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.2) inset;*/
  background: white;
}

.level-cell.-face-n-wall {
  border-top-color: blue;
}

.level-cell.-face-e-wall {
  border-right-color: blue;
}

.level-cell.-face-s-wall {
  border-bottom-color: blue;
}

.level-cell.-face-w-wall {
  border-left-color: blue;
}

/* Actor cell */
.actor-cell:before {
  content: 'x';
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}


/* UI */

.ui {
  position: absolute;

  z-index: 1;
}

.ui.-left {
  left: 0;
}

.ui.-right {
  right: 0;
}

.ui.-top {
  top: 0;
}

.ui.-bottom {
  bottom: 0;
}

.ui__save {
  position: relative;
  top: 30px;
  right: 36px;
}

.ui__faces {
  position: relative;
  right: 36px;
  bottom: 30px;


}

.ui.-ui-frame {
  padding: 30px;
}

/* Menu bar */

#menu-bar .btn-group {
  margin-top: 10px;
  margin-bottom: 12px;
}

/* asset select form */
.ui-asset-select {

}

.ui-asset-select__list {
  height: 200px;
  overflow-y: scroll;
  width: 260px;
  padding: 10px;
}

/* Helpers */

.-rounded {
  border-radius: 8px;
}

.-box {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);

  color: white;
}

.-centered {
  text-align: center;
}


